<div class="col-md-6 offset-md-3">
    <h3 class="text-center"> Generar link de descarga</h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="mb-3">
            <label>Titulo :</label>
            <input type="text" class="form-control" id="title" [(ngModel)] = "song.title" name="title">
            <label>URL del video :</label>
            <input type="text" class="form-control" id="url" [(ngModel)] = "song.videoURL" name="url">
        </div>

        <button class="btn btn-success">Agregar</button>
    </form>
</div>
